---
title: Choose which user attributes your service can request
weight: 4
last_reviewed_on: 2022-10-21
review_in: 6 months
---

# Choose which user attributes your service can request

Your service can request certain user attributes. To do this, you need to choose which ‘scopes’ or ‘claims’ your service will use and include these when you make your authorisation request.

OpenID Connect (OIDC) scopes are identifiers your application uses during authentication to authorise access to a user’s attributes, such as an email address. Each scope returns a set of user attributes contained within it. OIDC calls this set of user attributes ‘claims’.

The user attributes and how you request them will depend on whether you are requesting authentication only, or authentication with identity assurance.

<table class="tg">
<thead>
  <tr>
    <th class="tg-6v43"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000">Type of request you’re making</span></th>
    <th class="tg-6v43"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000">What type of user attributes you can request </span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-ycr8"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000">Authentication only </span></td>
    <td class="tg-ycr8"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000">You can only <a href=https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/choose-which-user-attributes-your-service-can-request/#choose-which-scopes-your-service-can-request><span>request user attributes using scopes</span></a>.</span></td>
  </tr>
  <tr>
    <td class="tg-ycr8"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000">Authentication and <code>P1</code> identity assurance</span></td>
    <td class="tg-ycr8"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000">You can only <a href=https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/choose-which-user-attributes-your-service-can-request/#choose-which-scopes-your-service-can-request><span>request user attributes using scopes</span></a>.</span></td>
  </tr>
  <tr>
    <td class="tg-ycr8"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000">Authentication and <code>P2</code> (or higher) identity assurance</span></td>
    <td class="tg-ycr8"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000">You can request user attributes using both claims and scopes (or either claims or scopes, depending on what your service needs).</span></td>
  </tr>
</tbody>
</table>

You'll need to agree which scopes and claims you want to use when you [register your service to use GOV.UK Sign In](../manage-your-service-s-configuration/#register-your-service-to-use-gov-uk-sign-in).

## Choose which scopes your service can request

`openid` is the only scope you must include. You can choose to include other scopes for your authorisation request depending on the user attributes your service needs.

You can store your scopes on your [GOV.UK Sign In account](admin.sign-in.service.gov.uk/sign-in) if you're needing authentication only (instead of authenticaion and identity).

You can find details of the scopes in the following table.

<table>
<tbody>
<tr>
<td>
<p>Scope</p>
</td>
<td>
<p>Required or optional</p>
</td>
<td>
<p>Description</p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">openid&nbsp;</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Required</span></p>
</td>
<td>
<p><span style="font-weight: 400;">OIDC authorisation requests must contain the <code>openid</code> scope value to indicate that an application intends to use the OIDC protocol.</span></p>
<br />
<p><span style="font-weight: 400;">This will return the <code>sub</code> claim, which uniquely identifies your user.</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">email</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Optional</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Returns the <code>email</code> claim, which contains:</span></p>
<br />
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">your user's email address</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;"></span><span style="font-weight: 400;"><code>email_verified</code></span><span style="font-weight: 400;">, which is a boolean indicating whether your user has verified their email address or not</span></li>
</ul>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">phone</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Optional</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Returns the <code>phone_number</code> claim, which contains:</span></p>
<br />
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">your user's phone number</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;"><code>phone_number_verified</code>, which is a boolean indicating whether your user has verified their phone number or not</span></li>
</ul>
</td>
</tr>
<td>
<p><span style="font-weight: 400;">offline_access</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Optional</span></p>
</td>
<td>
<p><span style="font-weight: 400;">You use an access token to make calls to the <code>/userinfo</code> endpoint.<br>
If you want to access the <code>/userinfo</code> endpoint for longer than 3 minutes, you should use a <a href="https://openid.net/specs/openid-connect-core-1_0.html#RefreshTokens"><span>refresh token</span></a> to refresh your access token. <br>
If you want a refresh token, you must request the <code>offline_access</code> scope. </span></li>
</ul>
</tbody>
</table>


## Choose which claims your service can request

You can also request specific claims from GOV.UK Sign In, if you need more information than the scopes in the previous section can provide. You must [choose a level of identity confidence][integrate.choose-level-of-confidence] `P2` or above, otherwise you will not receive any claims in the authorisation response.

You can find details of the claims in the following table.

<table class="tg">
<thead>
  <tr>
    <th class="tg-82rs"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000">Claim</span></th>
    <th class="tg-82rs"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000">Description</span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-82rs"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000"><code>https://vocab.account.gov.uk/v1/coreIdentityJWT</code></span></td>
    <td class="tg-82rs"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000">This claim contains core identity information about your user: </span><br><ul><li>their names</li><li>their date of birth</li><li>the level of confidence GOV.UK Sign In reached in your user’s identity</li></ul></td>
  </tr>
  <tr>
    <td class="tg-82rs"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000"><code>https://vocab.account.gov.uk/v1/address</code></span></td>
    <td class="tg-82rs"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000">This claim contains your user's postal addresses.</span></td>
  </tr>
  <tr>
    <td class="tg-82rs"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000"><code>https://vocab.account.gov.uk/v1/passport</code></span></td>
    <td class="tg-82rs"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000">This claim contains your user's passport details if GOV.UK Sign In proved their identity using their passport.</span><br><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000">If GOV.UK Sign In did not prove your user’s identity using their passport, the authorisation response will not return this claim.</span></td>
  </tr>
  <tr>
    <td class="tg-82rs"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000"><code>https://vocab.account.gov.uk/v1/drivingPermit</code></span></td>
    <td class="tg-82rs"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000">This claim contains your user's driving licence details if GOV.UK Sign In proved their identity using their driving licence.</span><br><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000">If GOV.UK Sign In did not prove your user’s identity using their driving licence, the authorisation response will not return this claim.</span></td>
  </tr>
</tbody>
</table>

You can see more about the structure of this information when you [process your user’s identity information](integrate-with-integration-environment/process-identity-information).

You can only ask us for claims that are covered by your [Data Protection Impact Assessment](https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/data-protection-impact-assessments-dpias/). You must clearly explain to your users why you are collecting the data and what you will use it for.

Once you have chosen which attributes your service can request, you can [integrate with Authorization Code Flow](/integrate-with-integration-environment/integrate-with-code-flow/).


<%= partial "partials/links" %>
