---
title: Choose the level of authentication for your service
weight: 2.5
last_reviewed_on: 2022-06-13
review_in: 6 months
---

# Choose the level of authentication for your service

You’ll need to choose the level of authentication your service will require your users to have. You can find help on selecting an appropriate level of protection in the [guidance on using authenticators to protect an online service, also known as ‘GPG 44’](https://www.gov.uk/government/publications/authentication-credentials-for-online-government-services/giving-users-access-to-online-services#choosing-an-authenticator).

GOV.UK Sign In uses ['Vectors of Trust'](https://datatracker.ietf.org/doc/html/rfc8485). Your service can use these Vectors of Trust to request the right level of authentication for your users to gain access to your service. You’ll include your vector in the query string as part of the authorisation request you make when you integrate with Authorization Code Flow.

GOV.UK Sign In currently supports the following authentication levels, also known as ‘levels of protection’ in GPG 44.

<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Levels of protection</span></th>
    <th class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Vector value</span></th>
    <th class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Description of the levels of protection</span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Low level of protection</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent"><code>Cl</code> (credential low)</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">This vector requires your users to have a username and password combination. </span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">You should only use this option if your service does not hold personal information about your users, for example if your service is about booking in an MOT. <br>All services use <code>Cl.Cm</code> as the authentication level by default, unless you change your authentication level to <code>Cl</code>.</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Medium level of protection</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">`<code>Cl.Cm</code> (credential medium)</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">This vector requires your users to have a username and password combination, as well as using 2FA (this will be a one-time password sent through SMS). Additional 2FA methods will be available in the future.</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">All services use <code>Cl.Cm</code> as the authentication level by default, unless you change your authentication level to <code>Cl</code>. </span></td>
  </tr>
</tbody>
</table>

Once you have chosen your level of authentication, you'll need to [choose the level of identity confidence][integrate.choose-level-of-confidence] if your service needs identity assurance.

If your service does not need identity assurance, you can move on to [generate a key pair][integrate.generate-key-pair].

<%= partial "partials/links" %>
