# See https://help.github.com/en/articles/about-code-owners

- @govuk-one-login/tech-writers @govuk-one-login/digital-identity-leads @govuk-one-login/adoption-architects @govuk-one-login/dev-platform @govuk-one-login/sse-approvers @govuk-one-login/orchestration-team
