<% ssfOut_resources = sitemap.resources.find { |resource| resource.path == "shared-signals-exchange-platform-outbound/index.html" }.children %>

<% content_for :sidebar do %>
  <a href='/shared-signals-exchange-platform-outbound' class="toc__back-link govuk-link">&lsaquo; Shared Signals Exchange Platform - Outbound</a>
  <%= render_page_tree ssfOut_resources, current_page, config, nil %>
<% end %>

<% wrap_layout :core do %>
  <%= yield %>
  <% content_for(:toc_module, "in-page-navigation") %>
<% end %>
