## Documentation updates

<p>These are the most recent changes to this documentation.</p>

| Publication date | Update                                                                                                                                                                                                                                                                                                                                            |
|------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| February 19 2025      | Published initial version of the GOV.UK One Login Signal Exchange documentation                                                                 |
