 <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on GOV.UK Sign In" style="display: none">
    <div class="govuk-cookie-banner__message govuk-width-container" id="cookies-banner-main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on GOV.UK Sign In</h2>

        <div class="govuk-cookie-banner__content">
          <p>We’d like to use analytics cookies so we can understand how you use this website and make improvements.</p>
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      <button id="cookiesAccept" type="button" class="govuk-button" data-module="govuk-button">
        Accept analytics cookies
      </button>
      <button id="cookiesReject" type="button" class="govuk-button" data-module="govuk-button">
      Reject analytics cookies
    </button>
    <a class="govuk-link" href="/cookies">View cookies</a>
    </div>
  </div>

  <div class="govuk-cookie-banner__message govuk-width-container" id="cookies-accepted" role="alert" hidden>

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-cookie-banner__content">
        <p>You’ve accepted analytics cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      <button class="govuk-button cookie-hide-button" data-module="govuk-button">
        Hide this message
      </button>
    </div>
  </div>

  <div class="govuk-cookie-banner__message govuk-width-container" id="cookies-rejected" role="alert" hidden>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-cookie-banner__content">
          <p>You’ve rejected analytics cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      <button class="govuk-button cookie-hide-button" data-module="govuk-button">
        Hide this message
      </button>
    </div>
  </div>
  </div>

