<!-- token error messages -->

| Error                    | More information about your error     |
|------------------|--------------------------|---------------------------------------|
| `invalid_request`        | The request is missing a parameter so the server cannot proceed with the request. This error may also be returned if the request includes an unsupported parameter or repeats a parameter.<br><br>Review your parameters and check they are supported and not repeated. |
| `invalid_client`         | Client authentication failed, which could be caused by the request containing an invalid `client_id` or an issue in validating the signature of the `client_assertion`. <br><br>To resolve, check:<br><ul><li>your `client_id` matches the `client_id` you received when you [registered your service to use GOV.UK One Login][integrate.register-your-service]</li><li>you have signed your `client_assertion` JWT with the private key generated when you [registered your service to use GOV.UK One Login][integrate.register-your-service]</li><li>your service uses a [key signing algorithm which GOV.UK One Login supports](https://oidc.account.gov.uk/.well-known/openid-configuration) |
| `invalid_grant`          | The authorisation code is invalid or expired. This is also the error which would return if the redirect URL given in the authorisation request does not match the URL provided in this access token request. |
| `unauthorized_client`    | The application is successfully authenticated, but it's not registered to use the requested [grant type](https://oauth.net/2/grant-types/). |
| `unsupported_grant_type` | The grant type is not supported by the server. |
| `login_required`         | After a re-authentication request has been issued, a user is unable to authenticate themselves.<br> Reasons for this could be:<ul><li>the user has entered a different email address to the one stored</li><li>the user has entered the wrong password too many times</li><li>the user has entered the wrong one-time password (OTP) code too many times</li></ul><br> 
