## the http URL(s) of the upstream endpoint. If multiple, routing is based on path
upstreams = [
    "http://auth-tech-docs.apps.internal:8080"
]

## skip oauth for paths matching these regex
skip_auth_regex = [
    "/api/pages.json"
]

## pass HTTP Basic Auth, X-Forwarded-User and X-Forwarded-Email information to upstream
pass_basic_auth = false

## Email Domains to allow authentication for (this authorizes any email on this domain)
## for more granular authorization use `authenticated_emails_file`
## To authorize any email addresses use "*"
email_domains = [
    "*"
]

## The OAuth Client ID, Secret
# client_id = ""     # use environment variable OAUTH2_PROXY_CLIENT_ID
# client_secret = "" # use environment variable OAUTH2_PROXY_CLIENT_SECRET

## Github config
provider = "github"
github_org = "alphagov"

## Cookie Settings
## Name     - the cookie name
## Secret   - the seed string for secure cookies; should be 16, 24, or 32 bytes
##            for use with an AES cipher when cookie_refresh or pass_access_token
##            is set
## Domain   - (optional) cookie domain to force cookies to (ie: .yourcompany.com)
## Expire   - (duration) expire timeframe for cookie
## Refresh  - (duration) refresh the cookie when duration has elapsed after cookie was initially set.
##            Should be less than cookie_expire; set to 0 to disable.
##            On refresh, OAuth token is re-validated. 
##            (ie: 1h means tokens are refreshed on request 1hr+ after it was set)
## Secure   - secure cookies are only sent by the browser of a HTTPS connection (recommended)
## HttpOnly - httponly cookies are not readable by javascript (recommended)
cookie_name = "_oauth2_proxy"
cookie_secure = true
cookie_httponly = true
# cookie_secret = "" # use environment variable OAUTH2_PROXY_COOKIE_SECRET
