---
title: How GOV.UK One Login works 
weight: 1.5
last_reviewed_on: 2025-10-31
review_in: 6 months
---

# How GOV.UK One Login works

GOV.UK One Login is an [OpenID Connect (OIDC)](https://openid.net/connect/)-compliant service that helps you authenticate your users who are using services they’ve logged into with their GOV.UK One Login.

GOV.UK One Login follows the Service Manual for [designing for different browsers and devices](https://www.gov.uk/service-manual/technology/designing-for-different-browsers-and-devices).

GOV.UK One Login uses 2 different environments:

* an integration environment, which contains sample user data (for example, date of birth, address) which you can use to test your service’s integration with GOV.UK One Login
* a production environment, which is the live environment for real users to access and use your service’s integration with GOV.UK One Login

## Understand the flow GOV.UK One Login uses

<%= image_tag "top-level-technical-diagram.svg", { :alt => '' } %>

1. Your service asks the user to sign in or create an account.
1. If your service needs confidence your user is who they say they are, GOV.UK One Login will request proof of identity.
1. GOV.UK One Login collects evidence of the user’s identity.
1. GOV.UK One Login provides information about your user.

You can read [guidance about cookies on GOV.UK One Login](https://signin.account.gov.uk/cookies) if you want to learn more about cookies.

To understand the high level technical flow see [Understand the technical flow GOV.UK One Login uses](#understand-the-technical-flow-gov-uk-one-login-uses).

For a more detailed UML sequence diagram of the GOV.UK One Login OIDC flow, see [GOV.UK One Login OIDC Authorization Code Flow](#gov-uk-one-login-oidc-flow).


## Understand the technical flow GOV.UK One Login uses

<%= image_tag "technical-flow-diagram.svg", { :alt => '' } %>

1. Your service makes an [authorisation request][integrate.make-authorize-request] to the `/authorize` endpoint.
1. The user logs in (or creates an account if they do not have one) and proves their identity if your service needs them to. GOV.UK One Login lets your user know how their data will be shared with your service.
1. GOV.UK One Login returns an [authorisation code][integrate.generate-auth-code] to your service.
1. Your service makes a [token request][integrate.make-token-request] to the `/token` endpoint and includes the authorisation code in the request.
1. Your service receives an [ID token and access token][integrate.receive-tokens] in the response.
1. Your service makes a request to the `/userinfo` endpoint to [retrieve user information][integrate.retrieve-user-info]. You can read more about [choosing which user attributes your service can request][integrate.choose-user-attributes].
1. Your service receives a [response containing user attributes][integrate.user-info-response].
1. Your service makes a [log out request][integrate.make-logout-request] to the `/logout` endpoint.
1. Your service receives an `HTTP 302` response redirecting the user to the `post_logout_redirect_uri`.

Find out [what to consider before you integrate your service with GOV.UK One Login][integrate.before-integrating].


## GOV.UK One Login OIDC Authorization Code Flow 
The diagram shows how your service interacts with GOV.UK One Login to authenticate a user and retrieve their information following the OpenID Connect (OIDC) protocol.

It shows how keys are used to sign and verify requests and tokens, ensuring secure communication between your service and GOV.UK One Login.

<%= image_tag "technical-flow-diagram-extended.svg", { :alt => '' } %>

### Retrieve OIDC metadata

You do not need to perform this step for every request, the result should be cached.

<ol>
<li>Your service sends a <code>GET</code> request to GOV.UK One Login's well-known <a href="/integrate-with-integration-environment/authenticate-your-user/#use-the-integration-discovery-endpoint">discovery endpoint</a> (<code>/.well-known/openid-configuration</code>).</li>
<li>GOV.UK One Login returns the <a href="/integrate-with-integration-environment/authenticate-your-user/#use-the-integration-discovery-endpoint">discovery document</a> as JSON, containing essential endpoints and configuration details.</li>
</ol>

### Authorise

<ol start="3">
<li>Your service <a href="/integrate-with-integration-environment/authenticate-your-user/#secure-your-authorisation-request-parameters-with-jwt">creates and signs a request</a> with its private key.</li>
<li>Your service sends a <code>GET</code> request to the <a href="/integrate-with-integration-environment/authenticate-your-user/#make-a-request-to-the-authorize-endpoint"><code>/authorize</code></a> endpoint, including the signed request parameter.</li>
<li>GOV.UK One Login fetches the public key for the service from the JWKS endpoint registered for your service.</li>
<li>GOV.UK One Login returns the public key as a JWKS document.</li>
<li>GOV.UK One Login validates the authorize request using the public key that matches the <code>kid</code> in the header.</li>
<li>The user logs in or creates an account and optionally proves their identity through GOV.UK One Login.</li>
<li>GOV.UK One Login sends an <code>HTTP 302</code> redirect back to your service's redirect URI, including an <a href="/integrate-with-integration-environment/authenticate-your-user/#generate-an-authorisation-code">authorisation code</a>.</li>
</ol>

### Exchange authorisation code for access token and ID token

<ol start="10">
<li>Your service <a href="/integrate-with-integration-environment/authenticate-your-user/#create-a-jwt-assertion">creates and signs an assertion</a> with its private key.</li>
<li>Your service sends a <code>POST</code> request to the <a href="/integrate-with-integration-environment/authenticate-your-user/#make-a-token-request"><code>/token</code></a> endpoint, including the <a href="/integrate-with-integration-environment/authenticate-your-user/#generate-an-authorisation-code">authorisation code</a> and <a href="/integrate-with-integration-environment/authenticate-your-user/#create-a-jwt-assertion">assertion</a>.</li>
<li>GOV.UK One Login fetches the public key for your service from the JWKS endpoint.</li>
<li>Your service returns the public key as a JWKS document.</li>
<li>GOV.UK One Login verifies the token request using the public key.</li>
<li>GOV.UK One Login returns the <a href="/integrate-with-integration-environment/authenticate-your-user/#receive-response-for-make-a-token-request">ID token and access token</a> to your service.</li>
<li>Your service fetches public keys from GOV.UK One Login by sending a <code>GET</code> request to the standard OIDC JWKS endpoint using the url from the <code>jwks_uri</code> object in discovery document.</li>
<li>GOV.UK One Login returns a JWKS document as containing the public key.</li>
<li>Your Service <a href="/integrate-with-integration-environment/authenticate-your-user/#validate-your-id-token">validates the ID token signature</a> with the public key obtained from GOV.UK One Login.</li>
</ol>

### Retrieve userinfo

<ol start="19">
<li>Your service sends a <code>GET</code> request to the <a href="/integrate-with-integration-environment/authenticate-your-user/#retrieve-user-information"><code>/userinfo</code></a> endpoint, including the Access Token.</li>
<li>GOV.UK One Login returns the <a href="/integrate-with-integration-environment/authenticate-your-user/#receive-response-for-retrieve-user-information">userinfo</a> (including a <a href="/integrate-with-integration-environment/prove-users-identity/#understand-your-user-s-core-identity-claim">core identity claim</a> if requested).</li>
<li>Your service fetches public keys from GOV.UK One Login by sending a <code>GET</code> request to the DID document endpoint (<code>/.well-known/did.json</code>).</li>
<li>GOV.UK One Login returns public keys in a DID document.</li>
<li>Your service <a href="/integrate-with-integration-environment/prove-users-identity/#validate-the-core-identity-claim-jwt-using-a-public-key">validates the signature of the core identity claim</a> with the public key from the DID document with the matching <code>kid</code>.</li>
</ol>

<%= partial "partials/links" %>