---
title: Configure your service for production
weight: 3.5
last_reviewed_on: 2025-02-20
review_in: 6 months
---


# Configure your service for production

<%= warning_text('You must configure your service for production at least 2 weeks before you start using the production environment in private beta or public beta.') %>

Before you can configure your service for production, you must [integrate with GOV.UK One Login's integration environment][integrate.integrate].

1. Tell your Engagement Manager that you need to configure your service in production – if you do not have an Engagement Manager, [complete the form to register your interest](https://www.sign-in.service.gov.uk/register). You'll need to complete this form a minimum of 6 weeks before your go-live date. 
1. You only need to send your Engagement Manager the service name and client ID of the client you’ve been testing in your integration configuration. The GOV.UK One Login team will send you a draft configuration in JSON format including the new client ID for your production service. 
1. Update the JSON configuration by replacing the placeholder values with your service's configuration. There’s [guidance on understanding the JSON configuration](/configure-for-production/#use-the-table-to-understand-the-json-configuration). 
1. Send your modified JSON configuration back to your Engagement Manager by email. The GOV.UK One Login team will check your production configuration and contact you if we need more information.
1. Configure the new client ID into your own application code and deploy to your production environment. 
1. Test your application works in production. This could be a limited test with a small number of users or a limited private beta.

## Use the table to understand the JSON configuration


| Field | Notes |
| :------ | :---- |
| `BackChannelLogoutUri` | If you want to receive logout notifications from GOV.UK One Login, specify the production URI of the endpoint you want GOV.UK One Login to call.  <br><br>This must be a production-grade URI with domains without reference to `http://` and `localhost`. <br><br>There’s further guidance on [requesting logout notifications from GOV.UK One Login](/integrate-with-integration-environment/managing-your-users-sessions/#request-logout-notifications-from-gov-uk-one-login).  |
| `ClientID` | GOV.UK One Login will fill in `ClientID` with your production client ID.  You do not need to do anything. |
| `Claims` | If you’re doing identity verification, you’ll need to specify which claims your service requires.  You may choose one or more of the following:<br><ul> </li><li>`https://vocab.account.gov.uk/v1/passport` </li><li>`https://vocab.account.gov.uk/v1/drivingPermit` </li><li>`https://vocab.account.gov.uk/v1/coreIdentityJWT` </li><li>`https://vocab.account.gov.uk/v1/address` </li><li>`https://vocab.account.gov.uk/v1/returnCode`  |
| `ClientName` | Choose your client name.  The client name will appear in the user interface when GOV.UK One Login redirects your user back to your service so choose something your users would recognise. <br><br>There’s further [guidance on naming your service](https://www.gov.uk/service-manual/design/naming-your-service). |
| `ClientType` | Leave this field as `web`.  |
| `ConsentRequired` | Leave this field as `false`.  |
| `Contacts` | Enter your service’s technical contact email addresses – this can be a group email or multiple separate email addresses, or a combination of both. |
| `CookieConsentShared` | Leave this field as `false`.  |
| `IdentityVerificationSupported` | If you’re using identity verification, this should be `true`.  <br><br>If you only need authentication, this should be `false`. |
| `IdTokenSigningAlgorithm` | This will be `ES256` or `RS256`. You can find the one you’re using in your application’s code.  |
| `LandingPageUrl`  | `LandingPageUrl` is only required if you’re making identity requests. <br><br>GOV.UK One Login supports a single `LandingPageUrl` after a user returns from an offline journey. Specify the production URL your user will be redirected to after they visit the Post Office. This link will allow them to continue their sign up process for your service. <br><br>These must be production-grade URLs without reference to `http://` and `localhost`. |
| `OneLoginService` | Leave this field as `false`.  |
| `PostLogoutRedirectUrIs` | If you want to redirect your users after they log out, input one or more production URLs. These will be where you redirect your users to after you have logged them out. <br><br>These must be production-grade URLs without reference to `http://` and `localhost`. <br><br>There’s further guidance on [logging your user out of GOV.UK One Login](/integrate-with-integration-environment/managing-your-users-sessions/#log-your-user-out-of-gov-uk-one-login).   |
| `PublicKey` | `PublicKey` is only required if you’re using the `private_key_jwt` token authentication method.  <br><br>Enter the contents of your public key Privacy Enhanced Mail (PEM) file (or whichever file was created when you created your key pair). <br><br>There’s further [guidance on generating a key pair][integrate.generate-key-pair].  |
| `IsInternalService` | Leave this field as `false`.  |
| `JarValidationRequired` | GOV.UK One Login will fill in this field.  |
| `RedirectUrls` | Enter one or more of your service’s production redirect URLs. These must be production-grade URLs without reference to `http://` and `localhost`. |
| `Scopes` | Enter the scopes your service requires. You must include the `openid` scope. <br><br>You may choose one or more of the following:<br><ul> </li><li>email </li><li>phone </ul><br><br>There’s further [guidance on choosing which user attributes your service can request](/before-integrating/choose-which-user-attributes-your-service-can-request/#choose-which-scopes-your-service-can-request).  |
| `SectorIdentifierUri` | Specify your service's sector identifier.  <br><br>You must not change the sector identifier once your service has started to sign up or migrate users. Doing this will change the subject identifiers GOV.UK One Login creates for each individual user. <br><br>There’s further [guidance on choosing your sector identifier](/before-integrating/choose-your-sector-identifier/). <br><br>If your service has more than one `redirect_uri`, you must set the sector identifier in line with the [OpenID Connect Core 1.0 specification](https://openid.net/specs/openid-connect-core-1_0.html#PairwiseAlg).  |
| `ServiceType` | Leave this field as `MANDATORY`.  |
| `SubjectType` | Leave this field as `pairwise`. |
| `TestClient` | Leave this field as `false`.  |
| `TokenAuthMethod` | Specify the token authentication method your service is using. This will be `private_key_jwt` or `client_secret_post`. <br><br>There’s further [guidance on using the correct token authentication method for your service](/before-integrating/use-correct-token-authentication-method/).   |
| `PKCEEnforced` | Specify whether your service must provide the parameters required for PKCE in the [authorize](/integrate-with-integration-environment/authenticate-your-user/#make-a-request-to-the-authorize-endpoint) and [token](/integrate-with-integration-environment/authenticate-your-user/#make-a-token-request) requests. <br><br>You can read more about PKCE in [RFC 7636](https://datatracker.ietf.org/doc/html/rfc7636).   |


## Use the production discovery endpoint

You can use the [production discovery endpoint][external.oidc-discovery-production] (viewed at `https://oidc.account.gov.uk/.well-known/openid-configuration`).

<%= partial "partials/links" %>
